body {
    background: #111;
    color: #fff;
    font-family: 'Hepta Slab', serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1520px;
    margin: 20px 50px;
    margin-left: auto;
    margin-right: auto;
}
.container li{
    float: left;
    width: calc(100%/3);
    margin: 0;
    padding: 0;
}
.description{
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid rgba(10, 2, 6, 0.863);
    margin-bottom: 10px;
}
.container .tiles{
    width: 100%;
    margin: 0 20px;
    padding: 10px;
    background: rgba(255, 248, 215, 0.863);
    overflow: hidden;
    list-style-type: none;
}
.container .tiles img{
    width: 100%;
    transition: all 0.5s ease-in-out;
    filter: grayscale(80%);
}

.container .tiles img:hover{
    width: 100%;
    transform: scale(1.05);
    filter: grayscale(0%);
}
.container .tiles p{
    float: right;
    padding: 0 10px;
    color: rgba(10, 2, 6, 0.863);
}
.container .tiles h3{
    text-align: center;
    float: left;
    padding: 0 10px;
    color: rgba(10, 2, 6, 0.863);
}
@media (max-width: 768px)
{
    .container{
        max-width: 630px;
        width: calc(100%/2);
    }
}
@media (max-width: 320px)
{
    .container{
        max-width: 320px;
        width: 100%;
    }
}